@import url(https://fonts.googleapis.com/css?family=VT323);

body {
	font-family: 'VT323', cursive;
	font-size: 50px;
	color:black;
	background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}

.center {
	text-align: center;
}

.choiceRow1 {
	margin: 0px auto;
	width: 1600px;

}

.choiceRow2 {
	margin: 0px auto;
	width: 1600px;

}

.dialogueBanner {
	text-align: center;
}




