@import url(https://fonts.googleapis.com/css?family=VT323);

body {
	font-family: 'VT323', cursive;
	font-size: 50px;
	color:black;
	background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}
